<div class="row">
	<div class="card">
		<ul class="list-group list-group-flush">
			<li class="media" *ngFor ="let entry of result">
				<div class="media-left">
					<img *ngIf="entry.retweeted == false" src={{entry.user.profile_image_url}} class="img-rounded media-object">
					
					<img *ngIf="entry.retweeted == true" src={{entry.retweeted_status.user.profile_image_url}} class="img-rounded media-object">
				</div>
			
						
				<div class="media-body">
					<h5 class="media-heading">
						<span *ngIf="entry.retweeted == false"> {{entry.user.screen_name}}</span>
						<span *ngIf="entry.retweeted == true"> {{entry.retweeted_status.user.screen_name}}</span>
					</h5>
					<span [outerHTML]="entry.text | twitterLinks"> </span>
					<img src={{entry.extended_entities?.media[0].media_url}} class="img-rounded">
				</div>
			</li>
		</ul> 	

</div>




