.bg{
	
	

	width: 100%;
	opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.lead-17{
	font-size: 17px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.wrapper{
	padding-bottom: 10%;
}

.content{

	
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
	color:white;
	right: 5%;
	left:5%;
	padding-left: 15px;
	padding-right: 15px;	
}