	<div class="row">		
			<h3>Get in touch!</h3>
			<br>
			<form [formGroup] ="contactForm" novalidate (ngSubmit)="sendEmail(contactForm.value, contactForm.valid)">
				<div class="form-group form-group-lg">
					<input class="form-control" type="email" placeholder="Email">	
				</div>
				<div class="form-group form-group-lg">
					
					<input class="form-control" type="text" placeholder="Subject">
				</div>
				<div class="form-group form-group-lg">
					<textarea class="form-control" rows="5" placeholder="Type a message.."></textarea>
				</div>
				<button class="btn btn-primary btn-lg" type="submit">Send</button>
				
			</form>

	</div>

