<div class="row">		
	<div class="col-md-12">
		<h2>Get in touch! <hr class=" row text-primary bg-primary" /></h2>
		<div *ngIf="messageSentSuccess" class="alert alert-success alert-dismissible">				
				   Message sent <strong>successfully!</strong>
		  </div>
		  <div *ngIf="messageSentError" class="alert alert-warning alert-dismissible">
		  
		    <strong>Failed to send message</strong>, please try again later or contact me directly via <a href="mailto:hi@ugobriasco.me?Subject=Hello%20again" target="_top">email</a>
		</div>
		<form [formGroup] ="emailForm" (ngSubmit)="onSubmit(emailForm)" id="contact">
			<div class="form-group form-group-lg">
				
				<input class="form-control" type="text" [formControl] ="emailForm.controls['name']" placeholder="Name">
			</div>
			<div class="form-group form-group-lg">
				<input class="form-control" type="email" [formControl] ="emailForm.controls['email']" placeholder="Email">	
			</div>	
			<div class="form-group form-group-lg">
				<textarea class="form-control" rows="5" [formControl] ="emailForm.controls['message']" placeholder="Message.."></textarea>
			</div>
			<button class="btn btn-primary btn-lg" type="submit">Send</button>
		</form>		
	</div>
</div>

	