<h2>My works <hr class=" row text-primary bg-primary" /></h2>
<div *ngFor="let brick of bricks">
       <div class="col-md-4 collapsed">
	       <div class="box" [ngStyle]="{'background-image':'url(' + brick.thumbnail + ')'}" >
	       		
            <div class="overlay"[ngStyle]="{'background-color': brick.color}" (click)="modal1.show()">
              <div class="text">
                <a> <i class="fa fa-search-plus fa-4x"></i></a> 
              </div>
            </div>
            <div class="box-title" [ngStyle]="{'background-color': brick.color}">
              <h4>{{brick.title}}</h4>
            </div>
            
            

	       		<app-modal #modal1>
  	       			<div class="app-modal-header" >
                  <div class="modal-header-content" [ngStyle]="{'background-color': brick.color}" >

                    <div class="modal-close" >
                      <a><i (click)="modal1.hide()" class="fa fa fa-times-circle fa-2x"></i></a>

                    </div>

                  
                  
                    
                    <img class="img" src="{{brick.cover}}" alt=""> 
                     
                  </div> 
  					    </div>
  					    <div class="app-modal-body">
        
              
                      <h2>{{brick.title}}</h2>
                      <span [innerHTML]="brick.description | MarkdownToHtml"> </span>

                      <p *ngIf="brick.url"><i class="fa fa-link fa-fw" aria-hidden="true"></i><a href="{{brick.url}}">{{brick.url}}</a></p>
                      <p *ngIf="brick.tags"><i class="fa fa-tag " aria-hidden="true"></i><span class="tags^^" *ngFor="let tag of brick.tags"> {{tag}}</span></p>
                     
     
         
            
  					    </div>
	       		</app-modal>
	       </div>
  </div>
</div>










