app-home{
	

}

main {
	background-color:#F7F7F7;

	 


	padding-top: 30px;
	min-height: 91vh;
	margin: 0 auto;
	  
	

}



main.container{
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 5%;
	margin-right: 5%;
}

img {
	width:100%;
}


.scroll{
	overflow-x: scroll;
	max-height: 90vh;
}











