
<div class="list-wrapper" id="jobs">
	<h2>Experience <hr class=" row text-primary bg-primary" /></h2>
	<div *ngFor="let job of jobs">
		<div class="qa-message-list" id="wallmessages">
			<div class="message-item" id="m16">
				<div class="message-inner">
					<div class="message-head clearfix">
						<div class="avatar pull-right"><a href={{job.company.website}}><img src={{job.company.logo}}></a></div>
						<div class="user-detail">
							<h4 class="handle">{{job.title}}</h4>
							<div class="post-meta">
								<span class="qa-message-who">
									<span class="qa-message-who-pad"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
									<span class="qa-message-who-data"><a href={{job.company.website}}>{{job.company.name}}</a></span>
								</span>
								<div class="asker-meta">
								<span class="qa-message-when">
										<span class="qa-message-when-pad"><i class="fa fa-calendar" aria-hidden="true"></i>
										</span>
										<span *ngIf="job.isCurrent == false" class="qa-message-when-data">{{job.startDate}} - {{job.endDate}}</span>
										<span *ngIf="job.isCurrent == true" class="qa-message-when-data">{{job.startDate}} - now</span>
								</span>


									<span class="qa-message-where">
										<span class="qa-message-where-pad"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
										<span class="qa-message-where-data">{{job.location.city}}, {{job.location.country}}</span>
									</span>	
									
								</div>
							</div>
						</div>
					</div>
					<div class="qa-message-content">
						<span [innerHTML]="job.summary | MarkdownToHtml"> </span>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="list-wrapper" id="edu">
	<h2>Education
	<hr class=" row text-primary bg-primary" />
	</h2>
	<div *ngFor="let job of edu">
		<div class="qa-message-list" id="wallmessages">
			<div class="message-item" id="m16">
				<div class="message-inner">
					<div class="message-head clearfix">
						<div class="avatar pull-right"><a href={{job.company.website}}><img src={{job.company.logo}}></a></div>
						<div class="user-detail">
							<h4 class="handle">{{job.title}}</h4>


							<div class="post-meta">
								<span class="qa-message-who">
									<span class="qa-message-who-pad"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
									<span class="qa-message-who-data"><a href={{job.company.website}}>{{job.company.name}}</a></span>
								</span>
								<div class="asker-meta">
								<span class="qa-message-when">
										<span class="qa-message-when-pad"><i class="fa fa-calendar" aria-hidden="true"></i>
										</span>
										<span *ngIf="job.isCurrent == false" class="qa-message-when-data">{{job.startDate}} - {{job.endDate}}</span>
										<span *ngIf="job.isCurrent == true" class="qa-message-when-data">{{job.startDate}} - now</span>
								</span>


									<span class="qa-message-where">
										<span class="qa-message-where-pad"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
										<span class="qa-message-where-data">{{job.location.city}}, {{job.location.country}}</span>
									</span>	
									
								</div>
							</div>
						</div>
					</div>
					<div class="qa-message-content">
						{{job.summary}}
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="list-wrapper" id="certification">	
	<h2>Additional Certification <hr class=" row text-primary bg-primary" /></h2>
	<div *ngFor="let job of cert">
		<div class="qa-message-list" id="wallmessages">
			<div class="message-item" id="m16">
				<div class="message-inner">
					<div class="message-head clearfix">
						<div class="avatar pull-right"><a href={{job.company.website}}><img src={{job.company.logo}}></a></div>
						<div class="user-detail">
							<h4 class="handle">{{job.title}}</h4>


							<div class="post-meta">
								<span class="qa-message-who">
									<span class="qa-message-who-pad"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
									<span class="qa-message-who-data"><a href={{job.company.website}}>{{job.company.name}}</a></span>
								</span>
								<div class="asker-meta">
								<span class="qa-message-when">
										<span class="qa-message-when-pad"><i class="fa fa-calendar" aria-hidden="true"></i>
										</span>
										<span class="qa-message-when-data">{{job.date}}</span>
								</span>



									<span class="qa-message-where">
										<span class="qa-message-where-pad"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
										<span class="qa-message-where-data">{{job.location.city}}, {{job.location.country}}</span>
									</span>	
									
								</div>
							</div>
						</div>
					</div>
					<div class="qa-message-content">
						{{job.summary}}
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="list-wrapper" id="skills">	
	<h2>Skills
	<hr class=" row text-primary bg-primary" /></h2>
	<div class="list-wrapper lang col-md-3">
	<div>
		<h4 class="chart__title">Languages</h4>
		<p><img class="img-sm" src="./assets/img/flags/it.svg" alt=""><strong>Italian</strong> (native)</p>
		<p><img class="img-sm" src="./assets/img/flags/gb.svg" alt=""><strong>English</strong> (fluent)</p>
		<p><img class="img-sm" src="./assets/img/flags/de.svg" alt=""><strong>German</strong> (fluent)</p>
	</div>
		
	</div>

	<div class="list-wrapper col-md-9">
		<div class="skills">
		  <ul class="lines" >
			    <li class="line primary l--0">
			      <span class="line__label title">
			        Skill level:
			      </span>
			    </li>
			    <li class="line l--25">
			      <span class="line__label">
			        The basics
			      </span>
			    </li>
			    <li class="line l--50">
			      <span class="line__label">
			        Advanced
			      </span>
			    </li>
			    <li class="line l--75">
			      <span class="line__label">
			        Seasoned
			      </span>
			    </li>
			    <li class="line l--100">
			      <span class="line__label">
			        Expert
			      </span>
			    </li>
		  </ul>  
		  <div class="charts">
		    <div class="chart"*ngFor="let group of skills" >
		      <h4 class="chart__title">{{group.group_name}}</h4>
		      <ul>
		        <li class="bar bg-primary" *ngFor="let skill of group.group_skills" [ngStyle]="{'width': skill.value}">
		          <span class="label">
		            {{skill.name}}
		          </span>
		        </li>
		      </ul>
		    </div>
		  </div>
		</div>	
	</div>
</div>










		
