<div class="list-wrapper">
	<h2>Work experience</h2>
	<div *ngFor="let job of jobs">
		<div class="qa-message-list" id="wallmessages">
			<div class="message-item" id="m16">
				<div class="message-inner">
					<div class="message-head clearfix">
						<div class="avatar pull-left"><a href={{job.company.website}}><img src={{job.company.logo}}></a></div>
						<div class="user-detail">
							<h4 class="handle">{{job.title}}</h4>


							<div class="post-meta">
								<span class="qa-message-who">
									<span class="qa-message-who-pad"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
									<span class="qa-message-who-data"><a href={{job.company.website}}>{{job.company.name}}</a></span>
								</span>
								<div class="asker-meta">
								<span class="qa-message-when">
										<span class="qa-message-when-pad"><i class="fa fa-calendar" aria-hidden="true"></i>
										</span>
										<span *ngIf="!isCurrent" class="qa-message-when-data">{{job.startDate}} - {{job.endDate}}</span>
										<span *ngIf="isCurrent" class="qa-message-when-data">{{job.startDate}} - now</span>
								</span>


									<span class="qa-message-where">
										<span class="qa-message-where-pad"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
										<span class="qa-message-where-data">{{job.location.city}}, {{job.location.country}}</span>
									</span>	
									
								</div>
							</div>
						</div>
					</div>
					<div class="qa-message-content">
						{{job.summary}}
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="list-wrapper">
	<h2>Work experience</h2>
	<div *ngFor="let job of jobs">
		<div class="qa-message-list" id="wallmessages">
			<div class="message-item" id="m16">
				<div class="message-inner">
					<div class="message-head clearfix">
						<div class="avatar pull-left"><a href={{job.company.website}}><img src={{job.company.logo}}></a></div>
						<div class="user-detail">
							<h4 class="handle">{{job.title}}</h4>


							<div class="post-meta">
								<span class="qa-message-who">
									<span class="qa-message-who-pad"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
									<span class="qa-message-who-data"><a href={{job.company.website}}>{{job.company.name}}</a></span>
								</span>
								<div class="asker-meta">
								<span class="qa-message-when">
										<span class="qa-message-when-pad"><i class="fa fa-calendar" aria-hidden="true"></i>
										</span>
										<span *ngIf="!isCurrent" class="qa-message-when-data">{{job.startDate}} - {{job.endDate}}</span>
										<span *ngIf="isCurrent" class="qa-message-when-data">{{job.startDate}} - now</span>
								</span>


									<span class="qa-message-where">
										<span class="qa-message-where-pad"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
										<span class="qa-message-where-data">{{job.location.city}}, {{job.location.country}}</span>
									</span>	
									
								</div>
							</div>
						</div>
					</div>
					<div class="qa-message-content">
						{{job.summary}}
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="list-wrapper">
	<h2>Work experience</h2>
	<div *ngFor="let job of jobs">
		<div class="qa-message-list" id="wallmessages">
			<div class="message-item" id="m16">
				<div class="message-inner">
					<div class="message-head clearfix">
						<div class="avatar pull-left"><a href={{job.company.website}}><img src={{job.company.logo}}></a></div>
						<div class="user-detail">
							<h4 class="handle">{{job.title}}</h4>


							<div class="post-meta">
								<span class="qa-message-who">
									<span class="qa-message-who-pad"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
									<span class="qa-message-who-data"><a href={{job.company.website}}>{{job.company.name}}</a></span>
								</span>
								<div class="asker-meta">
								<span class="qa-message-when">
										<span class="qa-message-when-pad"><i class="fa fa-calendar" aria-hidden="true"></i>
										</span>
										<span *ngIf="!isCurrent" class="qa-message-when-data">{{job.startDate}} - {{job.endDate}}</span>
										<span *ngIf="isCurrent" class="qa-message-when-data">{{job.startDate}} - now</span>
								</span>


									<span class="qa-message-where">
										<span class="qa-message-where-pad"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
										<span class="qa-message-where-data">{{job.location.city}}, {{job.location.country}}</span>
									</span>	
									
								</div>
							</div>
						</div>
					</div>
					<div class="qa-message-content">
						{{job.summary}}
					</div>
				</div>

			</div>
		</div>
	</div>
</div>


    
		
