<div class="clearfix">
    <img alt="" src="http://lorempixel.com/100/100/people/9/" class="img-circle center-block">
    <div class="text-wrapper text-center">
    	<h3>John Doe</h3>
    	<h4>Web developer</h4>
    	<p>
    		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante mauris, elementum a tellus vitae, ornare ultricies magna. Morbi nisi felis, rutrum at justo fermentum, cursus tempor sem. 
    	</p>
    	<div>
    	<h3>
    		<a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
    		<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    		<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    		<a href="#"><i class="fa fa-soundcloud" aria-hidden="true"></i></a>
    		<a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
    		
    	</h3>
    		
    		
    	</div>
    </div>
</div>